.navbar-collapse {
  justify-content: flex-end;
}
.loginForm {
  margin: 10px;
  display: inline-block;
  min-height: 355px;
  padding: 30px;
}
.loginForm {
  text-align: left;
}
.loginTitle {
  text-align: center;
}
.nav-tabs {
  border: none;
  display: inline-flex;
}
.login {
  text-align: center;
}
.profileInfo {
  padding: 30px 0;
  margin: 0 auto;
  width: 300px;
}
.profileInfo span {
  font-weight: bold;
}
.usersTable {
  overflow: scroll;
}
.errorPage {
  text-align: center;
}
.errorPage h1 {
  margin-top: 50px;
  font-size: 80px;
}
.errorPage h4 {
  font-size: 40px;
}
.searchLine {
  width: 50%;
  display: inline-block;
}
.searchPage {
  text-align: center;
}
.searchLine {
  margin: 50px 0;
}
.searchLine input {
  border: 1px solid grey;
  width: 80%;
  padding: 10px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  transition: 0.2s;
}
.searchLine input:focus,
.searchLine button:focus {
  outline: none;
  transition: 0.2s;
}
.searchLine button {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 20%;
  padding: 11px;
  background: grey;
  color: white;
  border: none;
}
.searchResults,
.mainBooks,
.userFanfiksList {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
.card-body {
  text-align: left;
}
.card {
  display: inline-block;
}
.card img {
  height: 200px;
}
.tagsCloud {
  margin: 20px;
  padding: 20px;
  background: yellowgreen;
  border-radius: 15px;
  word-wrap: break-word;
}
.tagsCloud h4 {
  margin: 0;
  margin-right: 10px;
}
.tagsCloud span {
  font-size: 1.5rem;
  font-weight: 200;
}
.tagsCloud .tag {
  display: inline;
  margin-right: 10px;
}
.tableControls button, 
.showHideUsertable ,
.createwFanfik {
  background: grey;
  color: white;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 10px;
  transition: 0.1s;
  transform: scale(1);
}
.tableControls button:focus,
.showHideUsertable:focus,
.createwFanfik:focus {
  outline: none;
}
.tableControls button:active,
.showHideUsertable:active,
.createwFanfik:active {
  transform: scale(1.1);
  transition: 0.1s;
}
.tableUsersHide, 
.table ,
.createFanfikHide {
  display: none;
}
.tableUsersShow, 
.table ,
.createFanfikShow {
  display: block
}
.profile {
  margin: 10px 30px;
}
.fanfiksSection {
  padding: 10px 0;
}